<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Bootstrap  icons -->

    <link rel="stylesheet" href="./style.css" />
</head>

<hr>
<h1 class=" rounded" style="text-align:center;">Welcome To Group Chat
</h1>
<hr>

<body>

    <div class="container-fluid" style="height: 100vh;">
        <div class="row" style="height: 100%;">

            <div id="sidebar" class="col-3 justify-content-start rounded" style="background-color: grey;">
                <div class="sidebar list-group" style="width: 100%;">
                    <!-- For search functionality <div class="row">
                        <div class="col-8">
                    <input type="text" class="form-control" placeholder="Type user/group name"/>
                    </div>
                    <div class="col-4" style="overflow:hidden;">
                        <button class="form-control" >Search</button>
                    </div>
                    </div> -->
                    <hr>
                    <ul class="list-group" style="width: 100%;" id="usersandgroups">
                        <li>
                    <div class="d-flex" style="overflow:hidden;">
                        <div class="col-4" style="color:rgb(0, 187, 255)">
                            <button class="avatar" onclick="showuserinfo(event)">
                                <img src="./user.jpg" alt="avatar">
                            </button>
                            <div class="hidden-window" id="hidden">
                                
                                
                            </div>
                        </div>
                        <div class="col-4" style="margin-left: 5px;">
                            <button class="rounded-5" onclick="showuserform(event)">
                                create group
                            </button>
                            <div class="hidden-window-form" id="hidden-form">
                            
                            
                            </div>
                        </div>
                        <div class="col" style="margin-left: 5px;">
                            <button class="rounded-5" onclick="showlinkstojoingroup(event)">
                                Join group
                            </button>
                            <div class="hidden-window-join" id="hidden-join">
                            <h6>No invitations to join Group</h6>
                        
                            </div>
                        </div>
                    </div>
                    </li>
                        <hr>
                        <!-- get groups nd add here as list elements-->

                    </ul>
                </div>
            </div>


            <div class="col-8" style="display:none;" id="changecol">
                <div class="container">
                    <!-- msg-header section starts -->
                    <div id="header">
                       
                    </div>
                    <!-- msg-header section ends -->

                    <div class="chat-page">
                        <div class="msg-inbox">
                            <div class="chats">
                                <!-- Message container -->
                                <div class="msg-page" id="msg-page">

                                    <!-- Outgoing and received messages -->
                                </div>
                            </div>

                            <!-- msg-bottom section -->
                            <div class="msg-bottom">
                                <div class="input-group">
                                    <input type="file" class="form-control col" id="myFile" name="filename">
                                    <input type="text" id="message" class="form-control"
                                        placeholder="Type message..." />

                                    <button class="btn" onclick="handleSubmit()">
                                        <i class="bi bi-send"></i>
                                    </button>
                                </div>
                            </div>

                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
   

<script src="./chat.js"></script>

<script src="./messages.js"></script>

<script src="./sidebar.js"></script>

</body>
<script src="../node_modules/socket.io/client-dist/socket.io.js"></script>
<script>


         let userid = localStorage.getItem('userid');
            const socket = io('http://localhost:4000', {
                query: {
                    userid: Number(userid)
                }
            });



//to select chat with different person or group
    localStorage.setItem('isgroup', false);
    localStorage.setItem('currentreceiverorgroup', 0);

    async function handlechat(buttonElement) {

        let chatwindow = document.getElementById('changecol');
        if (chatwindow.style.display == 'none') {
            chatwindow.style.display = 'block';
            //console.log(chatwindow.style.display);
        }
        // Access the img and h6 elements inside the button
        let imgElement = buttonElement.querySelector('img');
        let h6Element = buttonElement.querySelector('h6');
        let hiddenElement = buttonElement.querySelector('input[type="hidden"]');
        //console.log(hiddenElement.value);
        const hiddenvalue=hiddenElement.value;
        let imageUrl = imgElement.getAttribute('src');
        
        // Get the username from the h6 element
        //let username = h6Element.textContent;

        let header = document.getElementById('header');
        header.innerHTML = "";
        const b = buttonElement.cloneNode(true);
        b.classList.add('msg-header');
        b.classList.add('container1');
        b.removeAttribute('onclick');
        // b.removeAttribute('mouseover');

        if (imageUrl === './group.jpg') {
            localStorage.setItem('isgroup', true);
            let isgroup=true;
            let userid=localStorage.getItem('userid');
            let check=await isadmin(userid,hiddenvalue);
            console.log(check);
            if(check){
                let button = document.createElement('button');
                button.classList.add('btn-primary');
                button.classList.add('col-2');
                button.textContent = "Admin Operations";
                button.addEventListener('click', (e) => {
                    handleadmin(e);
                });
                button.style.overflow = "hidden";

                let div = document.createElement("div");
                div.setAttribute("id", "hidden-admin");
                div.classList.add("hidden-window-admin");
                div.textContent = "You are not Admin";
                button.appendChild(div);
                b.appendChild(button);
            }

        } else {
            localStorage.setItem('isgroup', false);
        }

        header.appendChild(b);
        
        localStorage.setItem('currentreceiverorgroup', hiddenvalue);
        displaychat(hiddenvalue);

    }

//Checking if current user is admin of the group or not to show admin operations button
    function isadmin (userid, groupid){
        console.log(userid,groupid);
       
        return new Promise((resolve, reject) => {
            socket.emit("isadmin", { userid, groupid });

            socket.on("okcheck", (result) => {
               // console.log(result);
                resolve(result);
            });
        });
    }


    function getgroupmembers(){
       // console.log("in groupmembers");
        //console.log(localStorage.getItem('currentreceiverorgroup'));
        socket.emit("getgroupmembers",localStorage.getItem('currentreceiverorgroup'));
    }

    socket.on('allgroupmembers', (data) => {
        let hidden = document.getElementById("hidden-admin");
        hidden.innerHTML = "";
        let ul = document.createElement("ol");
        for (let i = 0; i < data.length; i++) {
            console.log(data[i]);
            let li = document.createElement("li");
            li.style.overflow="hidden";
            //li.style.overflow="scroll";
            //li.style.marginBlock="20px";
            li.classList.add("list-item");
            li.classList.add("row");
            li.style.marginBottom="10px";

            li.style.border = "1px solid #ccc";
            if(data[i].isadmin){
                li.innerHTML= `<b class="col-4">${data[i].username}</b><b class="col-7"> -- Admin user</b>`;
            }else{
                li.innerHTML=` <b class="col-4">${data[i].username}</b> 
                    <a href="#" class="col-4" name="${data[i].user_id}" onclick="removeUser(event)">Remove</a>
                    <a href="#" class="col-4" key="${data[i].username}" name="${data[i].user_id}" onclick="createAdmin(event)">Create Admin</a>`;
            }
            ul.appendChild(li);
        }
        hidden.appendChild(ul);
    });


    function removeUser(event){
        event.stopPropagation();
        //console.log("remove user called",Number(event.target.name));
        let id=Number(event.target.name);
        let group_id=localStorage.getItem("currentreceiverorgroup");
        socket.emit("removeuser",{id,group_id});
         event.target.parentNode.remove();

    }

    function createAdmin(event) {
             event.stopPropagation();
           // console.log("create Admin is called", Number(event.target.name));
           let id=Number(event.target.name);
           let group_id = localStorage.getItem("currentreceiverorgroup");
           socket.emit("makeadmin",{id,group_id});
           //event.target.parentNode.removeChild();
           let username=event.target.getAttribute("key");
           let li= event.target.parentNode;
           li.innerHTML="";
           li.innerHTML=`<b class="col-4">${username}</b><b class="col-7"> -- Admin user</b>`;

        }




    function handleadmin(e){
       
       // getgroupmembers();
       // console.log("handle admin is clicked");
       e.stopPropagation();
         let div = e.target.closest('div');//event
        let hiddenWindow = div.querySelector('.hidden-window-admin');
         if (! hiddenWindow.classList.contains('active')) {
            getgroupmembers();
        }
       // console.log(hiddenWindow.classList.contains('active'));
        hiddenWindow.classList.toggle('active');
    }

   

    function handleSubmit() {

        let receiverid = localStorage.getItem('currentreceiverorgroup');
        //console.log(receiverid);
        let senderid = localStorage.getItem('userid');
        //console.log(receiverid,senderid);
        let isgroup = localStorage.getItem('isgroup');
        socket.emit('joinRoom', Number(receiverid));


        const message = document.getElementById('message').value;

        const fileInput = document.getElementById('myFile');
        const file = fileInput.files[0];
        if(file){
        const fileName = file.name;

        const reader = new FileReader();
        reader.readAsDataURL(file);

         reader.onload = function () {
            const base64Data = reader.result;
            socket.emit('fileAndMessage', { senderid,receiverid,message: base64Data,isgroup,ismedia:true,fileName:fileName});
            fileInput.value = '';
        };
    }else{

        socket.emit('message', {senderid,receiverid,message,isgroup,ismedia:false,fileName:"null"});
    }
        addSentMessage(message);
    
    }

    socket.on('message', (data) => {
            //console.log('Received message:', data);
            let crnt = localStorage.getItem('currentreceiverorgroup');
            let isgroup=localStorage.getItem('isgroup');
            //console.log(data);
            if (crnt == Number(data.receiverid) && isgroup.toString()==isgroup) {
                //console.log("hi");
                //console.log(data,data.message);
               addreceivedMessage(data.message);
            }
        });




    function getusersdata() {
        let userid=localStorage.getItem('userid');
        socket.emit('getusersdata', userid);
    }

     socket.on('usersdata', (data) => {
            //console.log(data.users,data.groups);
            for (let i = 0; i < data.users.length; i++) {
                if(data.users[i].user_id!=localStorage.getItem('userid')) {
                addUsersandGroups(data.users[i],false);
                }
            }
            //console.log(data.groups,data.users);
            for (let i = 0; i < data.groups.length; i++) {
                //console.log(data.groups);
                 addUsersandGroups(data.groups[i],true);
            }

        })

    getusersdata();
    

    function displaychat(receiverid) {
            let d = document.getElementById('msg-page');
            d.innerHTML="";
            let userid = localStorage.getItem('userid');
            let isgroup = localStorage.getItem('isgroup');
           // console.log(userid, isgroup,receiverid);
            socket.emit('getcurrentchat', { receiverid, userid,isgroup });
        }
    
        socket.on('currentchat',(data)=>{
            let uid=localStorage.getItem('userid');
            for(let i=0;i<data.length;i++){
             if(data[i].senderId==uid){
              addSentMessage(data[i].content);
             }else{
              addreceivedMessage(data[i].content);
             }
            }

        })

        //Adding links to join groups to hidden window

        function getlinkstojoin(){
            let userid = localStorage.getItem('userid');
            socket.emit('getlinkstojoin',userid);
        }

        getlinkstojoin();

        socket.on('linkstojoin',(data)=>{
           // console.log(data);
            if(data.length!=0){
                let div=document.getElementById('hidden-join');
                div.innerHTML ="";
                div.innerHTML=`<h6>Click on group which you want to join</h6>`;
                for(let i=0;i<data.length;i++){
                    addlinkstohidden(data[i],div);
        
                }
            }
        })

        function addlinkstohidden(data,div){
            var button = document.createElement("button");
           // console.log(data);
            // Create an image element
            var img = document.createElement("img");
            img.src = "./group.jpg"; // Set image URL
            img.alt = "Group Image"; // Add alt text for accessibility
            button.appendChild(img); // Append image
            button.classList.add("btn");
            button.classList.add("btn-primary");
            button.style.width="100%";

            // Create a hidden input element for group_id
            var hiddenInput = document.createElement("input");
            hiddenInput.type = "hidden";
            hiddenInput.name = "group_id"; // Set the name attribute
            hiddenInput.value = data.group_id; // Set the value
            button.appendChild(hiddenInput); // Append hidden input to the button

            var groupName = document.createTextNode(data.group_name);
            button.appendChild(groupName);

            // Add onclick event handler
            button.onclick = function () {
                handlejoinClick(button);
            };

            div.appendChild(button);
        }



        function handlejoinClick(button){
            var hiddenInput = button.querySelector('input[name="group_id"]');
            // Get the value of the hidden input element (group_id)
            var groupId = hiddenInput.value;
            let username=button.textContent;
            button.remove();
            //console.log(groupId);
            socket.emit('addtogroup',groupId);

            socket.on('okaddgroup',(groupid)=>{
                let data={username:username,uer_id:groupid}
                //console.log(data);
                addUsersandGroups(data, true);
                
                //username, user_id-groupid
            });

        }


//Message typing events
  //  const messageInput = document.getElementById('message');
   // let typingTimeout;
//
  //  messageInput.addEventListener('input', () => {
    //    clearTimeout(typingTimeout);
      //  socket.emit('typing');
       // typingTimeout = setTimeout(() => {
        //    socket.emit('stop typing');
        //}, 1000);
    //});


//getallusersdata for hidden-window-form and addind usersdata for hidden-window
    function getallusersdata() {
            let userid = localStorage.getItem('userid');
            socket.emit('getallusers', userid);
        }

    getallusersdata();

        socket.on('allusers', (data) => {
            adduserstoform(data);
            })


        function adduserstoform(data) {

            let div = document.getElementById('hidden-form');
            div.innerHTML = ''; // Clear the div contents

            // Create the form element
            let form = document.createElement('form');
            form.setAttribute('onsubmit', 'handlecreateGroup(event)'); // Add onsubmit attribute
            // Create the text field for the group chat name
            let groupNameInput = document.createElement('input');
            groupNameInput.setAttribute('type', 'text');
            groupNameInput.setAttribute('placeholder', 'Enter group chat name');
            groupNameInput.setAttribute('name', 'group-name');
            form.appendChild(groupNameInput);
            form.appendChild(document.createElement('br')); // Line break

            // Loop through the data array to create checkboxes
            for (let i = 0; i < data.length; i++) {
                let userData = data[i];

                // Create the checkbox element
                let checkbox = document.createElement('input');
                checkbox.setAttribute('type', 'checkbox');
                checkbox.setAttribute('name', 'user');
                checkbox.setAttribute('value', userData.username);
                // Create the label for the checkbox (displaying the username)
                let label = document.createElement('label');
                label.textContent = userData.username;
                // Create the hidden element to store the user_id
                let hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'user-id');
                hiddenInput.setAttribute('value', userData.user_id);
                // Append the checkbox, label, and hidden input to the form
                form.appendChild(checkbox);
                form.appendChild(label);
                form.appendChild(hiddenInput);
                form.appendChild(document.createElement('br')); // Line break
            }

            // Create the button to create the group
            let createGroupButton = document.createElement('button');
            createGroupButton.textContent = 'Create Group';
            createGroupButton.setAttribute('type', 'submit');

            // Append the button to the form
            form.appendChild(createGroupButton);

            // Append the form to the div
            div.appendChild(form);

        }


        function handlecreateGroup(event){
             let hiddenWindow = document.querySelector('.hidden-window-form');
            // Toggle the active class of the hidden window
            hiddenWindow.classList.toggle('active');
            event.preventDefault();
                let form = event.target;
               // Get the group name from the input field
                let groupName = form.querySelector('input[name="group-name"]').value;
                // Get all checked checkboxes for users
                let checkedCheckboxes = form.querySelectorAll('input[type="checkbox"]:checked');
                // Initialize arrays to store user names and their corresponding user IDs
                let selectedUsers = [];
                let selectedUserIds = [];
                // Loop through checked checkboxes to gather user data
                checkedCheckboxes.forEach(function (checkbox) {
                    // Get the label associated with the checkbox (which contains the username)
                    let label = checkbox.nextElementSibling;
                    // Get the hidden input element containing the user ID
                    let hiddenInput = label.nextElementSibling;
                    // Push username and user ID to respective arrays
                    selectedUsers.push(label.textContent);
                    selectedUserIds.push(hiddenInput.value);
                });

                form.reset();
                socket.emit("creategroup",{groupName,selectedUsers,selectedUserIds});
                socket.on('groupcreated',(data)=>{
                    addUsersandGroups(data, true);
                
                });
        }

</script>

</html>